
#heading{
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
   
}
#para{
    position: absolute;
    top:17%;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    
}
.form{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 5% 20px;
    min-height: 300px;
    min-width: 300px;
    border-radius: 7%;
}

.login{
    background-image: url("../bg.jpg");
    height:100vh;
    background-size:cover;
    
}
input{
    width:100%;
   
    margin:5px 0;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid rgb(149, 149, 149);
}
.submit-btn{
    width:100%;
    margin:5px;
}
.new-user{
    color: rgb(117, 117, 117);
    font-size: 14px;
}